<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <p>Welcome to CSUEB <%= title %></p>
    <a href="getMyNodeResults.php">Exercise</a>
  </body>
</html>
