<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>CS3520</h1>
    <p>Welcome to CSUEB</p>
    <p>Yan ZiQin</p>
  </body>
</html>
