<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Welcome to CSUEB <%= title %></p>
    <form action="/test/submit" method="post">
        <input type="text" name="id">
        <button type="submit">Submit</button>
    </form>
  </body>
</html>
